form {
  margin-top: 20px;
  text-align: center;
}
label {
  font-family: sans-serif;
}
input {
  margin: 0px 2px 0px 4px;
  padding: 2px;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 475px;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

.remove-btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #1b72e8;
}
